<div id="<%= dom_id maintenance_service %>">
  <p>
    <strong>Car:</strong>
    <%= maintenance_service.car_id %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= maintenance_service.description %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= maintenance_service.status %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= maintenance_service.date %>
  </p>

</div>
